<%# load header partial %>
<%- include('partials/header') -%>
<%# load nav partial %>
<%- include('partials/nav') -%>

<main class="w-100 m-auto text-center">
  <%# heading & image %>
  <img class="mb-2 mt-2" src="/imgs/accountImage.png" alt="bookImage" width="100">
  <h1 class="display-5 fw-bold lh-1 mb-3">Your Account</h1>

  <section class="row justify-content-center">
    <div class="col-5 mt-3">

      <% 
        //error alerts
        if (locals.messages.errors) { 
        messages.errors.forEach( el => { 
      %>
      <%# each alert %>
      <div class="alert alert-danger"><%= el.msg %></div>
      <%
          })
        }
        //information alerts
        if (locals.messages.info) { 
          messages.info.forEach( el => { 
        %>
      <%# each alert %>
      <div class="alert alert-info"><%= el.msg %></div>
      <%
          })
        }
      %>

      <%# account information %>
      <%# username %>
      <span class="Username <%= user['userName']%>">
        <button class="btn-primary fas fa-edit accountEdit"></button>
        <span class="fw-bold">Username</span>: <%= user['userName']%>
      </span><br>

      <%# email %>
      <span class="Email <%= user['email']%>">
        <button class="btn-primary fas fa-edit accountEdit"></button>
        <span class="fw-bold">Email</span>: <%= user['email']%>
      </span><br>

      <%# password %>
      <span class="Password xxxxxxx">
        <button class="btn-primary fas fa-edit accountEdit"></button>
        <span class="fw-bold">Password</span>: xxxxxxx
      </span><br>

      <%# delete account button %>
      <form action="/auth/delete?_method=DELETE" method="POST">
        <button class="btn btn-secondary mt-3">Terminate account</button>
      </form>
    </div>

  </section>
</main>

<%# load modal partials related to modifying user account %>
<%- include('partials/modals/editAccount') -%>

<%# load basic site scripts %>
<%- include('partials/scripts') -%>

<%# load scripts related to the account only %>
<script src="/js/auth.js"></script>

<%# load footer partial %>
<%- include('partials/footer') -%>